[% META title = "User list" -%]
[% USE dumper -%]
<table>
  <tr>
    <td><strong>Nick</strong></td>
    <td><strong>Name</strong></td>
    <td><strong>Mail</strong></td>
    <td><strong>Roles</strong></td>
  </tr>
[% FOREACH user IN user_list -%]
  <tr>
    <td>[% user.username -%]</td>
    <td>[% user.first_name -%] [% user.last_name -%]</td>
    <td>[% user.email_address -%]</td>
    <td>[% FOREACH r IN user.roles -%][% r.role -%] [% END -%]</td>
  </tr>
[% END -%]
</table>
