[% IF c.user -%]
<a href="[% c.uri_for('/logout') -%]">Logout</a> [[% c.user.username -%]] |
[% ELSE -%]
<a href="[% c.uri_for('/login') -%]">Login</a> |
[% END -%]
<a href="[% c.uri_for('/') -%]">Home</a>
[% IF c.check_user_roles('admin') -%]
| <strong><a href="[% c.uri_for('/admin') -%]">Administration</a></strong>
[% END -%]
